* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  /* background-color: #3eecac;
  background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%); */
}

.navbar .navbar-brand img {
  mix-blend-mode: multiply;
}

/* give padding in navbar item inside link. */
.navbar .navbar-nav .nav-item a {
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* font-weight: 400; */
  padding: 15px;
  font-weight: 600;
}
.navbar .navbar-nav .nav-item a:hover {
  color: darkgreen;
}

.navbar .navbar-nav .nav-but {
  padding: 10px;
}

#social-icon a {
  text-decoration: none;
}
#sub-heading a {
  text-decoration: none;
}

.c-item {
  height: 580px;
}
.c-img {
  height: 100%;
  filter: brightness(0.6);
  /* object-fit: cover; */ /* make a img as a cover */
}

/* moving img and p section */
#col-item {
  padding: 0;
}

/* section-4*/
